@font-face {
  font-family: "AvertaCY";
  font-weight: 300;
  src: url("./averta/AvertaCY-300\-Light.ttf");
}
@font-face {
  font-family: "AvertaCY";
  font-weight: 400;
  src: url("./averta/AvertaCY-400\-Regular.ttf");
}
@font-face {
  font-family: "AvertaCY";
  font-weight: 600;
  src: url("./averta/AvertaCY-600\-Semibold.ttf");
}
@font-face {
  font-family: "AvertaCY";
  font-weight: 700;
  src: url("./averta/AvertaCY-700\-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AvertaCY";
  &::selection {
    color: white;
    background-color: black;
  }
}

/* Set full height and width for HTML and body */
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  overflow: hidden;
}

nav {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    height: 50px;
  }

  & button::before {
    content: "menu ";
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
  }

  & button {
    position: relative;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: black;
      cursor: pointer;

      & svg {
        fill: white;
      }
    }

    & h4 {
      font-weight: 400;
      font-size: 18px;
      color: black;
    }

    & svg {
      fill: black;
      height: 27px;
      margin-top: 10px;
      z-index: 9;
    }
  }
}

.hero {
  min-height: calc(100vh - 95px);
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 13vw;

  & .text {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;

    & .text1 {
      opacity: 0.8;
    }

    & .text2 {
      font-size: 3.45vw;
      display: flex;
      gap: 35px;
      letter-spacing: -2px;

      & h1 {
        color: transparent;
        -webkit-text-stroke: 1px gray;
      }
    }
  }

  & .bottomText {
    width: 69%;
    margin-top: 26vh;
    font-size: 25px;
    line-height: 1.4;
  }
}

.featured {
  min-height: 100vh;
  width: 100vw;
  padding: 12vw 13vw;
  /* margin-top: 25vh; */
  
& .fHeading {
  margin-bottom: 5vw;

  & h1 {
    font-size: 4vw;
    font-weight: 300;
    line-height: 1;
  }
  
  & h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px gray;
  }
}

& .fProjects {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  & .pLeft {
    width: 45%;
    height: 100%;
    overflow: hidden;

    & .projects {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;

      & h3 {
        font-size: 1.5vw;
        opacity: 0.8;
        font-weight: 600;
      }
      
      & h1 {
        font-size: 2.5vw;
        font-weight: 400;
        text-transform: capitalize;
      }

      & h4 {
        font-size: 1.2vw;
        font-weight: 600;
        opacity: 0.6;
      }
      
    }
  }

  & .pRight {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    & .images{
      width: 90%;
      height: 90%;
      background-color: black;
    }
  }

}

  .button {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    & button {
      font-size: 1vw;
      font-weight: 600;
      border: 1px solid rgba(128, 128, 128, 0.265);
      background-color: #fff;
      letter-spacing: -0.5px;
      border-radius: 30px;
      padding: 1vw 2vw;
    }

  }

}

.dev {
  min-height: 100vh;
  width: 100%;
  
  & .dev-text {
    padding:0 13vw 8vw;
    width: 70%;

    & h1 {
      font-size: 4.5vw;
      font-weight: 400;
      letter-spacing: -4px;
      line-height: 1;
      margin-bottom: 40px;
      opacity: 0.9;
    }
  
    & p {
      font-size: 1.5vw;
      font-weight: 600;
      opacity: 0.8;
    }
  }

  & .dev-slide {
    height: 50vh;
    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    & .slides {
      width: 32%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;

      & img {
        /* display: none; */
        width: 100%;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
      }

      & button {
        font-size: 1vw;
        font-weight: 600;
        border: none;
        background-color: rgba(128, 128, 128, 0.081);
        letter-spacing: -0.5px;
        border-radius: 30px;
        padding: 0.5vw 1vw;
      }

      & h3 {
        font-size: 1.5vw;
        font-weight: 400;
        letter-spacing: -1px;
      }
    }
  }

  & .button {

    display: flex;
    justify-content: center;

    &  button {
      font-size: 1vw;
      font-weight: 600;
      border: 1px solid rgba(128, 128, 128, 0.265);
      background-color: #fff;
      letter-spacing: -0.5px;
      border-radius: 30px;
      padding: 1vw 2vw;
    }

  }

}

footer {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {

  }
}

